<nav class="navbar navbar-expand-md bg-dark navbar-dark d-flex">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Navbar</a>
  
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
  
        <!-- Navbar links -->
        <ul class="collapse navbar-collapse navbar-nav justify-content-center">
            <li ng-repeat="link in $ctrl.links" class="nav-item mr-2">
                <a class="nav-link" ng-class="{'active' : $ctrl.activeTab == link.id}" ng-click="$ctrl.changetab({tabid:link.id})">{{link.id}}</a>
            </li> 
        </ul> 
    </div>
</nav>
  